.slds-global-header__logo {
    background-image: url('/StoreFront/resource/1603809900000/StoreFrontLogo');
    height: 4rem;
}

.headerPage{
    height: 5.0rem;
}

.paddingfromtop{
    padding-top: 80px;
}

.paddingfromright{
    padding-right: 200px;
}

.img-height {
    height: 100% !important;
}